//@theme "/home/h4ck4u/.local/share/rofi/themes/spotlight-dark.rasi"
//@theme "/home/h4ck4u/.local/share/rofi/themes/windows11-grid-dark.rasi"
//@theme "/home/h4ck4u/.local/share/rofi/themes/nord.rasi"
//@theme "/home/h4ck4u/.local/share/rofi/themes/squared-nord.rasi"
//@theme "/home/h4ck4u/.local/share/rofi/themes/rounded-red-dark.rasi"
//@theme "/home/h4ck4u/.local/share/rofi/themes/nord.rasi"
//@theme "/home/h4ck4u/.local/share/rofi/themes/rounded-purple-dark.rasi"
//@theme "/home/h4ck4u/.local/share/rofi/themes/nord.rasi"
//@theme "/home/h4ck4u/.local/share/rofi/themes/windows11-list-dark.rasi"
//@theme "/home/h4ck4u/.local/share/rofi/themes/spotlight-dark.rasi"
//@theme "/home/h4ck4u/.local/share/rofi/themes/rounded-red-dark.rasi"
@theme "/home/h4ck4u/.local/share/rofi/themes/rounded-gray-dark.rasi"
