[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/h4ck4u/Desktop/nodejs-login-passport]
row=6
col=0

[/home/h4ck4u/Desktop/django-income-expense-website]
row=8
col=0

[/home/h4ck4u/Desktop/UIS]
row=3
col=0

[/home/h4ck4u/Desktop/config-ArchiLinux]
row=2
col=0

[/home/h4ck4u/Desktop/Database]
row=7
col=0

[339 GB Encrypted]
row=4
col=0

[Trash]
row=5
col=0

[/]
row=0
col=0

[/home/h4ck4u]
row=1
col=0

